body { margin: 0; padding: 0; }

#frame {}

.track-editor {
    position: absolute;
    width: 300px;
    height: 500px;
    top: 50px;
    left: 50px;
    padding: 20px;
    background: white;
}

#trackEditorPrompt {
    position: absolute;
    top: 50px;
    left: 50px;
    background: white;
    padding: 10px;
    cursor: pointer;
}

.track-editor .form-search { padding: 4px; }
.track-editor .txt-search { width: 100%; font-size: 18pt; }
.track-editor .map-canvas { height: 300px; width: 300px; }
.track-editor button { font-size: 24pt; line-height: 120%; }
