/*
TEAL: #00ff8a;
PINK: #ff00b4;
*/

body { margin: 0; padding: 0; font-family: sans-serif;}

#frame {}


#trackEditorPrompt {
    position: absolute;
    top: 50px;
    left: 50px;
    background: #00ff8a;
    padding: 10px;
    cursor: pointer;
}

#trackLoading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -75px;
    height: 100px;
    width: 150px;
    background: #ff00b4;
    color: black;
    font-size: 80px;
    padding: 20px;
    line-height: 120%;
    text-align: center;
}

.track-editor {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50px;
    left: 50px;
    padding: 10px;
    background: #00ff8a;
}
.track-editor .section-search { overflow: auto; }
.track-editor .form-search { float: left; width: 270px; }
.track-editor .btn-cancel { float: left; font-size: 30px;
    margin-left: 13px; cursor: pointer; }
.track-editor .btn-cancel:hover { background: white; }
.track-editor .txt-search { width: 100%; font-size: 18pt; }
.track-editor .track-options label { display: inline; }
.track-editor .map-canvas { height: 300px; width: 300px; }
.track-editor button { background: black; color: white; border: 0;
    font-size: 18pt; line-height: 120%; cursor: pointer; }
.track-editor button:hover { background: #444;}
.track-editor button:disabled { background: #444; color: #aaa;
    cursor: inherit; }
